@import "_mixin";

.fleet-results-person {
    @include table;
}


.boat-data svg,
.fleet-results svg {
    display: inline-block;
}
td.boat,
td.helmsman,
td.crew,
td.place,
td.points
{

    white-space: nowrap;
}

td.race,
td.place,
td.points
{

    text-align: right;

}
body {
    &.single-iworks_fleet_person {
        .entry-title {
            svg {
                display: inline;
                height: 1em;
            }
        }
    }
}

